@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-ThinItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-ExtraLightItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-LightItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-MediumItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-SemiBoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-Thin.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-ExtraLight.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../static/font/roboto/RobotoMono-Bold.ttf") format('truetype');
}